// colors
$dark-blue: #333745;
$blue: #00007F;
$light-blue: #464b5e;
$off-black: #20222b;
$off-white: #a5afd7;

// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// breakpoints
$desktop-breakpoint: 45rem;